/*
_____________________________________________________

INHOUD
_____________________________________________________

1.  RESET
2.  GLOBALS

fontsizes

1em = 16px
2em = 32px
2.250em = 36px
2.5em = 40px
2.625em = 42px
3em = 48px
4em = 64px
5.625em = 90px
_____________________________________________________

1. RESET
_____________________________________________________*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
/*unreset */
strong 			{ font-weight:bold; }
em 				{ font-style:italic; }

@font-face {
    font-family: 'FedraSansAltStd-Medium';
    src: url('../fonts/FedraSansAltStd-Medium.otf');
    font-weight: normal;
    font-style: normal;
}

/*_____________________________________________________

2. GLOBALS
_____________________________________________________*/

html,
body        { width:100%; height:100%; background:#5E5046;}
body,
input,
textarea    { font-size:16px; font-family: 'FedraSansAltStd-Medium', arial, sans-serif; }
body.comic  { font-family:"Comic Sans MS"; }
body { background:url('../img/bgletters.gif') 50% bottom no-repeat;}
h1          { color:#FFF; font-size:2.625em; font-weight:normal; }
a           { text-decoration:none; outline:none; }
strong         { color:#FFF; font-weight:normal; }

/* buttons */
a.btn       { display:inline-block; font-size:2.250em; height:100px; line-height:100px; text-align:center; width:211px; color:#FFF; background:#FF6600;
                -webkit-border-radius: 10px;
                border-radius: 10px; }
a.btn:hover { background:#FFF; color:#5D4F47; }

a.btn.small { width:120px; height:64px; line-height:64px; }
a.btn.small.active { background:none; }
a.btn.small.active:hover { background:none; color:#FFF;}

a.btn.large { width:536px; height:130px; line-height:130px; font-size:4.688em; }

/* pasnummers */
.nr                 { display:block; color:#FFF; background:#01A7E3; position:relative; box-sizing:border-box; -moz-box-sizing:border-box;  }
a.nr:hover          { background:none; border:10px solid #01A7E3; }
.nr.selected        { background:none; border:10px solid #01A7E3; }
.nr.enabled         { background:#CCC; color:#000;}
.nr span            { display:block; font-size:5.625em; width:100%; position:absolute; top:50%; margin-top:-45px; text-align:center; }
.columns20 .nr span { font-size:2em; margin-top:-16px;}

/* pages */
section.page            { position:absolute; width:100%; height:100%; top:0; left:0; opacity:0; visibility:hidden;
                            -webkit-transition: opacity 1s;
                            -moz-transition: opacity 1s;
                            -ms-transition: opacity 1s;
                            -o-transition: opacity 1s;
                            transition: opacity 1s; }
section.page.visible        { opacity:1; visibility:visible; }
section.page > header       { width:100%; height:125px; position:absolute; top:0; left:0; overflow:hidden; background:#7E736B url('../img/bgheader.png') bottom left repeat-x;  }
section.page > header div.logo { position:absolute; background:url('../img/logo.png') bottom left no-repeat; left:28px; bottom:26px; width:201px; height:82px;}
section.page > footer       { width:100%; height:138px; position:absolute; bottom:0; overflow:hidden; background:url('../img/bgfooter.png'); }
section.page > footer.nobg  { background:none; }
section.page > header h1    { width:96%; left:2%; position:absolute; bottom:46px; text-align:right; white-space:nowrap; }
section.page > .content     { position:absolute; left:2%; width:96%; top:125px; bottom:138px; overflow:hidden; }
section.page.noheader > .content { top:0;}
section.page.nofooter > .content { bottom:0;}

section.page > footer .content { width:100%; height:100%; position:relative; margin:0 auto;}
section.page > footer nav { height:100%; float:left; }
section.page > footer nav ul { overflow:hidden;}
section.page > footer nav ul li { float:left; margin-right:20px; padding-top:16px; }
section.page > footer nav ul li div.text { font-size:3.125em; height:100px; line-height:100px; background:#FFF; padding:0 20px; overflow:hidden; }
section.page > footer nav.change,
section.page > footer nav.actions { padding:0 2%; width:75%; background:url('../img/bgfooter.png'); }
section.page > footer nav.tabs { width:21%; text-align:center; float:right;}
section.page > footer nav.tabs ul li { margin:0 10px; float:none; display:inline-block; padding-top:37px; }

section.page > footer nav.change ul li.col1 { width:15%; margin-left:2%; margin-right:0;}
section.page > footer nav.change ul li.col2 { width:66%; margin-left:2%; margin-right:0; }
section.page > footer nav.change ul li:first-child { margin-left:0;}
section.page > footer nav.change ul li.col1 a.btn { width:100%;}


/* grid */
section.page .row { clear:both; overflow:hidden; width:100%; height:25%; }
section.page .row > .col { float:left; display:block; height:100%; width:11.1%; margin-left:1.6%; position:relative; }
section.page .row > .col:first-child { margin-left:0 }
section.page .row > .col a.nr { position:absolute; top:16%; right:0; bottom:0; left:0;}
section.page table.row { height:100%; border-collapse:collapse; }
section.page table.row tr td { width:90%; padding:0 5%; height:100%; text-align:center; vertical-align:middle; font-size:3em; line-height:56px; color:#FFF; }

section.page .columns20 .row { height:10%;}
section.page .columns20 .row > .col { width:4.335%; margin-left:0.7%; }
section.page .columns20 .row > .col:first-child { margin-left:0;}

section.page .columns2 .row { height:100%; position:relative; }
section.page .columns2 .row .col { position:relative; width:49%; margin-left:1%; height:98%; top:1%; } /* margin-left should be 2% but 1% looks nicer */
section.page .columns2 .row .col:first-child { margin-left:0;}

/* page specific */

/* balie - depot/edit */
#balie .flexslider > .progress,
#balie .flexslider.loaded > .progress   { display:none; }


/* attendering - depot */
#attendering > .content                             {  }
#attendering .todo                                  { height:20%; width:100%; position:relative; }
#attendering .todo .inner                           { position:absolute; top:4%; right:0; bottom:4%; left:0; background:#FFF; overflow:hidden; }
#attendering .todo .inner div.nr                    { position:absolute; width:20%; height:100%; background:#01A7E3; border:10px solid #FFF; box-sizing:border-box; -moz-box-sizing:border-box; }
#attendering .todo .inner div.nr span               { font-size:4.500em; margin-top:-44px; }
#attendering .todo .inner div.message               { width:80%; height:100%; position:absolute; left:20%;}
#attendering .todo .inner div.message table         { height:100%; width:100%;}
#attendering .todo .inner div.message table tr td   { width:94%; padding:0 3%; height:100%; text-align:left; vertical-align:middle; font-size:2em; line-height:36px; }
#attendering .todo .inner span.issue                { display:block; font-size:2.250em; background:#5E5046; color:#FFF; width:50px; height:50px; line-height:47px; text-align:center; position:absolute; top:0; right:0;}

#attendering footer .total                          { float:right; height:110px; margin:14px 14px 0 0; overflow:hidden; }
#attendering footer .total div                      { display:block; float:left; position:relative; height:110px; }
#attendering footer .total div span                 { font-size:6.250em; color:#FFF; display:block; width:100%; height:100%; line-height:110px;}
#attendering footer .total div.nr                   { width:170px; height:110px; background:#FF6600; margin-left:14px; }
#attendering footer .total div.nr span              { position:static; margin-top:0; line-height:76px;}
#attendering footer .total div.label span           {  }

/* depot - studiezaal/edit */
#depot > .content                                   { bottom:156px; }

#depot .nr                  { color:#5D4F47; background:#FFF; }
#depot a.nr:hover           { background:none; border:4px solid #FFF; color:#FFF; }
#depot a.nr.selected,
#depot a.nr.selected:hover  { background:none; border:4px solid #01A7E3; color:#FFF; }
#depot a.nr.enabled          { background:#01A7E3; color:#FFF;}

#depot footer .change ul,
#depot footer .change ul li,
#depot footer .change a.btn { width:100%; }
#depot footer .change a.btn span { padding:0 5px;}


/* sliders */
.flexslider { height:100%; position:relative; }
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .flex-viewport { height:90%;} /* flexslide type slide */
.flexslider .flex-control-nav {height:10%; width:100%; text-align:center;}
.flexslider .flex-viewport ul,
.flexslider .flex-viewport ul li { height:100%; }
.flexslider .flex-viewport ul li .slidewrapper { height:100%; }

.flexslider > ul.slides { height:90%;} /* flexslide type fade */
.flexslider > ul.slides li  { height:100%; }
.flexslider > ul.slides li .slidewrapper  { height:100%; }

.flexslider > .progress         { width:25%; height:10%; position:absolute; bottom:0; right:0; }
.flexslider .progressbar        { visibility:hidden; width:100%; height:25px; border:5px solid #FFF; position:absolute; top:50%; margin-top:-13px; box-sizing:border-box; -moz-box-sizing:border-box; }
.flexslider.loaded .progressbar { visibility:visible; }
.flexslider .progressbar .meter { height:100%; background:#FFF; }

.flex-control-nav li    { display:inline-block; margin:0 10px; width:40px; height:100%; position:relative; }
.flex-control-nav li a  { display:block; cursor:pointer; position:absolute; top:50%; margin-top:-20px; color:#FFF; text-align:center;
                            width:40px; height:40px; line-height:40px;
                            box-sizing:border-box;
                            -moz-box-sizing:border-box;
                            border:5px solid #FFF;
                            background:none;
                            border-radius:50%; -webkit-border-radius:50%;
                            overflow:hidden; font-size:0.1em; text-indent:-40px; }
.flex-control-nav li a.flex-active { background:#FFF; color:#FFF; }


/*
5E5047
*/

/* popus */
.popup                  { width:1100px; height:864px; display:none; position:relative; }
.popup .content         { position:absolute; top:35px; right:35px; bottom:35px; left:35px; }
.popup .nr              { width:177px; height:177px; }
.popup .col             { float:left; margin-left:35px; }
.popup .col:first-child { margin-left:0; }
.popup .row             { overflow:hidden; margin-bottom:35px; }
.popup label            { display:block; font-size:3.750em; padding-bottom:5px; color:#FFF;}
.popup input,
.popup textarea         { border:4px solid black; outline:none; box-sizing:border-box; -moz-box-sizing:border-box; }
.popup input:focus,
.popup textarea:focus   { outline:none; border:3px solid black; }
.popup input            { width:219px; height:113px; text-align:center; font-size:4.750em; }
.popup textarea         { width:100%; height:225px; padding:10px; font-size:3em;}
.popup textarea.large   { height:458px;}
.popup footer           { position:absolute; bottom:0; left:0; right:0; height:250px; text-align:center; background:#7D726C;}
.popup footer a.btn     { position:absolute; bottom:38px; left:50%; margin-left:-268px;}

/* fancybox override */

.fancybox-lock .fancybox-overlay {
    overflow: hidden !important;
    overflow-y: hidden !important;
}

.fancybox-skin { padding:0 !important;}
