/*
_____________________________________________________

INHOUD
_____________________________________________________

1.  RESET
2.  GLOBALS

fontsizes

1em = 16px
2em = 32px
3em = 48px
4em = 64px
_____________________________________________________

1. RESET
_____________________________________________________*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
/*unreset */
strong 			{ font-weight:bold; }
em 				{ font-style:italic;}

@font-face {
    font-family: 'FedraSansAltStd-Medium';
    src: url('../fonts/FedraSansAltStd-Medium.otf');
    font-weight: normal;
    font-style: normal;
}



/*_____________________________________________________

2. GLOBALS
_____________________________________________________*/

html,
body        { width:100%; height:100%;}
body,
input,
textarea    { font-size:16px; font-family: 'FedraSansAltStd-Medium', arial, sans-serif; }
body.comic  { font-family:"Comic Sans MS"; }
h1          { color:#FFF; font-size:3em; }
a           { text-decoration:none; outline:none; }
strong         { color:#FFF; font-weight:normal; }

/* buttons */
a.btn       { display:inline-block; height:60px; line-height:60px; text-align:center; width:150px; color:#FFF; background:#00A7E3; }
a.btn:hover { -webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.5);

    box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.5); }
a.btn.large { width:300px; height:80px; line-height:80px; font-size:2em; }

/* pasnummers */
.nr                 { display:block; color:#FFF; background:#00A7E3; position:relative; box-sizing:border-box; -moz-box-sizing:border-box;  }
a.nr:hover           { background:#FF6200; }
.nr.selected        { background:#FF6200; border:5px solid black;}
.nr.enabled         { background:#CCC; color:#000;}
.nr span            { display:block; font-size:4em; width:100%; position:absolute; top:50%; margin-top:-32px; text-align:center; }
.columns20 .nr span { font-size:2em; margin-top:-16px;}

/* pages */
section.page            { position:absolute; width:100%; height:100%; top:0; left:0; opacity:0; visibility:hidden;
                            -webkit-transition: opacity 1s;
                            -moz-transition: opacity 1s;
                            -ms-transition: opacity 1s;
                            -o-transition: opacity 1s;
                            transition: opacity 1s; }
section.page.visible        { opacity:1; visibility:visible; }
section.page > header       { width:100%; background:#FF6200; height:10%; position:relative; overflow:hidden; }
section.page > footer       { width:100%; background:#FF6200; height:10%; position:absolute; bottom:0; overflow:hidden; }
section.page > header h1    { width:100%; position:absolute; top:50%; margin-top:-24px; text-align:center; }
section.page > .content     { height:90%; width:96%; overflow:hidden; margin:0 auto; }

section.page > footer .content { width:96%; height:100%; position:relative; margin:0 auto;}
section.page > footer nav { height:60px; position:absolute; top:50%; margin-top:-30px; }
section.page > footer nav.tabs { right:0;}
section.page > footer nav ul li { float:left; margin-right:20px; }
section.page > footer nav.tabs ul li { margin-right:0; margin-left:20px; }
section.page > footer nav ul li span { display:inline-block; font-size:3em; height:60px; line-height:60px; }

/* grid */
section.page .row { clear:both; overflow:hidden; width:100%; height:25%; }
section.page .row > .col { float:left; display:block; height:100%; width:11.1%; margin-left:1.6%; position:relative; }
section.page .row > .col:first-child { margin-left:0 }
section.page .row > .col a.nr { position:absolute; top:16%; right:0; bottom:0; left:0;}
section.page table.row { height:100%; border-collapse:collapse; }
section.page table.row tr td { width:90%; padding:0 5%; height:100%; text-align:center; vertical-align:middle; font-size:3em; line-height:56px; }

section.page .columns20 .row { height:10%;}
section.page .columns20 .row > .col { width:4.335%; margin-left:0.7%; }
section.page .columns20 .row > .col:first-child { margin-left:0;}

section.page .columns2 .row { height:100%;}
section.page .columns2 .row .col { width:49%; margin-left:2%; }
section.page .columns2 .row .col:first-child { margin-left:0;}

/* page specific */

/* attendering */
#attendering > .content                             { height:86%; position:relative; top:2%; }
#attendering .todo                                  { height:20%; width:100%; position:relative; }
#attendering .todo .inner                           { position:absolute; top:4%; right:0; bottom:4%; left:0; background:#00A7E3; overflow:hidden; }
#attendering .todo .inner div.nr                    { position:absolute; width:20%; height:100%; background:#FF6200; border:10px solid #00A7E3; box-sizing:border-box; -moz-box-sizing:border-box; }
#attendering .todo .inner div.message               { width:80%; height:100%; position:absolute; left:20%;}
#attendering .todo .inner div.message table         { height:100%; width:100%;}
#attendering .todo .inner div.message table tr td   { width:94%; padding:0 3%; height:100%; text-align:left; vertical-align:middle; font-size:2em; line-height:36px; }
#attendering .todo .inner span.issue                { display:block; font-size:2em; background:white; color:#000; width:50px; height:50px; line-height:50px; text-align:center; position:absolute; top:0; right:0;}

#attendering footer .total                          { float:right; height:100%; }
#attendering footer .total div                      { display:inline-block; height:100%; position:relative; }
#attendering footer .total div span                 { display:block; font-size:4em; width:100%; position:relative; top:50%; margin-top:-40px; text-align:center; }
#attendering footer .total .nr                      { width:170px; border: 10px solid #FF6200;
    box-sizing: border-box;
    -moz-box-sizing: border-box; }

/* depot */
#depot > .content                                   { height:88%; }
#depot footer .change { width:60%;}
#depot footer .change ul,
#depot footer .change ul li,
#depot footer .change a.btn { width:100%; }
#depot footer .change a.btn span { padding:0 5px;}


/* sliders */
.flexslider { height:100%; position:relative; }
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .flex-viewport { height:90%;} /* flexslide type slide */
.flexslider .flex-control-nav {height:10%; width:100%; text-align:center;}
.flexslider .flex-viewport ul,
.flexslider .flex-viewport ul li { height:100%; }
.flexslider .flex-viewport ul li .slidewrapper { height:100%; }

.flexslider > ul.slides { height:90%;} /* flexslide type fade */
.flexslider > ul.slides li  { height:100%; }
.flexslider > ul.slides li .slidewrapper  { height:100%; }

.flexslider > .progress         { width:25%; height:10%; position:absolute; bottom:0; right:0; }
.flexslider .progressbar        { width:100%; height:25px; border:5px solid #00A7E3; position:absolute; top:50%; margin-top:-13px; box-sizing:border-box; -moz-box-sizing:border-box; }
.flexslider .progressbar .meter { height:100%; background:#00A7E3; }

.flex-control-nav li    { display:inline-block; margin:0 10px; width:40px; height:100%; position:relative; }
.flex-control-nav li a  { display:block; cursor:pointer; position:absolute; top:50%; margin-top:-20px; color:#FFF; text-align:center;
                            width:40px; height:40px; line-height:40px;
                            box-sizing:border-box;
                            -moz-box-sizing:border-box;
                            border:5px solid #00A7E3;
                            background:#FFF;
                            border-radius:50%; -webkit-border-radius:50%;}
.flex-control-nav li a.flex-active { background:#00A7E3; color:#00A7E3; }

/* popus */
.popup                  { width:800px; height:600px; display:none; position:relative; }
.popup .content         { position:absolute; top:35px; right:35px; bottom:35px; left:35px; }
.popup .nr              { width:142px; height:142px; }
.popup .col             { float:left; margin-left:35px; }
.popup .col:first-child { margin-left:0; }
.popup .row             { overflow:hidden; margin-bottom:35px; }
.popup label            { display:block; font-size:2em; padding-bottom:19px;}
.popup input,
.popup textarea         { border:3px solid black; outline:none; box-sizing:border-box; -moz-box-sizing:border-box; }
.popup input:focus,
.popup textarea:focus   { outline:none; border:3px solid black; }
.popup input            { width:165px; height:91px; text-align:center; font-size:3em; }
.popup textarea         { width:100%; height:180px; padding:10px; font-size:2em;}
.popup textarea.large   { height:360px;}
.popup footer           { position:absolute; bottom:0; left:0; width:100%; height:110px; text-align:center;}

/* fancybox override */

.fancybox-lock .fancybox-overlay {
    overflow: hidden !important;
    overflow-y: hidden !important;
}